.nav-item:hover {
    background: #d0d0d0;
}

#front-img {
    display: inline;
}

.h2 {
    margin-bottom: 1em;
}

.bg-light-custom {
    background-color: #f5f5f5;
}

.bg-white-custom {
    background-color: #ffffff;
}